on: release
jobs:
  build-installer:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Qt Installer Framework
        uses: jmarrec/setup-qtifw@v1
        with:
          qtifw-version: '4.6.1'

      - name: Build Installer
        run: |
          binarycreator --offline-only -p mydaw-installer/packages_mac -c mydaw-installer/config/config.xml MyDaw-Macos.app
      
      - name: Prepare for upload
        run: |
          mkdir -p upload
          mv MyDaw-Macos.app upload/
      
      - name: Upload Installer Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MyDaw-Macos
